!!! 5
%html
    %head
        %meta{ :charset => "utf-8" }/

        %title
            Web Parser

    %body
        %table{ :border => 1 }
            %thead
                %th 
                %th openexchangerates.org
                %th currency-api.appspot.com
                %th ecb.int
            %tbody
                %tr
                    %td AUD
                    - if @openexchange.empty?
                        %td Something wrong with service
                    - else
                        %td #{@openexchange[:AUD]}
                    - if @currency_api.empty?
                        %td Something wrong with service
                    - else
                        %td #{@currency_api[:AUD]}    
                    - if @ecb.empty?
                        %td Something wrong with service
                    - else
                        %td #{@ecb[:AUD]}
                %tr
                    %td USD
                    - if @openexchange.empty?
                        %td -
                    - else
                        %td #{@openexchange[:USD]}
                    - if @currency_api.empty?
                        %td -
                    - else
                        %td #{@currency_api[:USD]}    
                    - if @ecb.empty?
                        %td -
                    - else
                        %td #{@ecb[:USD]}
                %tr
                    %td NOK
                    - if @openexchange.empty?
                        %td -
                    - else
                        %td #{@openexchange[:NOK]}
                    - if @currency_api.empty?
                        %td -
                    - else
                        %td #{@currency_api[:NOK]}    
                    - if @ecb.empty?
                        %td -
                    - else
                        %td #{@ecb[:NOK]}
